In [19]:
import sys
import sklearn
import numpy as np
import os
import pandas as pd
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [20]:
import quandl as q

In [21]:
q.ApiConfig.api_key = '11sy5SMsFERx_YypjsMi'

In [22]:
data = q.get('BITFINEX/BTCUSD')

In [23]:
data

,High,Low,Mid,Last,Bid,Ask,Volume
Date,,,,,,,
2014-04-15,513.9000,452.00,504.23500,505.000000,503.5000,504.97,21013.584774
2014-04-16,547.0000,495.00,537.50000,538.000000,537.0000,538.00,29633.358705
2014-04-17,538.5000,486.10,507.02000,508.000000,506.0400,508.00,20709.783819
2014-04-18,509.0000,474.25,483.77000,482.750000,482.7500,484.79,10458.045243
2014-04-19,513.9899,473.83,505.01065,507.499900,502.5313,507.49,8963.618369
...,...,...,...,...,...,...,...
2021-10-27,61450.0000,57950.00,58518.00000,58517.000000,58517.0000,58519.00,7184.592265
2021-10-28,62444.0000,57606.00,60599.50000,60600.000000,60599.0000,60600.00,7949.438417
2021-10-29,62980.0000,60188.00,62292.50000,62295.000000,62292.0000,62293.00,4041.750450
2021-10-30,62409.0000,60755.00,61407.50000,61408.000000,61407.0000,61408.00,2185.606697
2021-10-31,62415.0000,60005.00,61407.50000,61412.397727,61403.0000,61412.00,2442.146224

In [ ]:
# save csv to  file
data.to_csv('btc.csv')

In [24]:
DAYS_FUTURE=50
DAYS_PAST=50

HP_UNITS=100

In [25]:
for i in range(1, DAYS_FUTURE):
    data['next' + str(i)] = np.log(data['Last'] / data['Last'].shift(i))

In [26]:
for i in range(1, DAYS_PAST):
    data['prev' + str(i)] = np.log(data['Last'] / data['Last'].shift(i))

In [27]:
data

,High,Low,Mid,Last,Bid,Ask,Volume,next1,next2,next3,...,prev40,prev41,prev42,prev43,prev44,prev45,prev46,prev47,prev48,prev49
Date,,,,,,,,,,,,,,,,,,,,,
2014-04-15,513.9000,452.00,504.23500,505.000000,503.5000,504.97,21013.584774,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-16,547.0000,495.00,537.50000,538.000000,537.0000,538.00,29633.358705,0.063300,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-17,538.5000,486.10,507.02000,508.000000,506.0400,508.00,20709.783819,-0.057377,0.005923,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-18,509.0000,474.25,483.77000,482.750000,482.7500,484.79,10458.045243,-0.050983,-0.108360,-0.045060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-19,513.9899,473.83,505.01065,507.499900,502.5313,507.49,8963.618369,0.049998,-0.000985,-0.058362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-27,61450.0000,57950.00,58518.00000,58517.000000,58517.0000,58519.00,7184.592265,-0.027325,-0.073627,-0.040983,...,0.215920,0.206590,0.195287,0.217214,0.262655,0.250620,0.258353,0.268293,0.230123,0.226580
2021-10-28,62444.0000,57606.00,60599.50000,60600.000000,60599.0000,60600.00,7949.438417,0.034978,0.007653,-0.038649,...,0.233852,0.250897,0.241567,0.230265,0.252192,0.297632,0.285597,0.293331,0.303270,0.265101
2021-10-29,62980.0000,60188.00,62292.50000,62295.000000,62292.0000,62293.00,4041.750450,0.027586,0.062564,0.035239,...,0.279056,0.261438,0.278484,0.269153,0.257851,0.279778,0.325219,0.313183,0.320917,0.330857
2021-10-30,62409.0000,60755.00,61407.50000,61408.000000,61407.0000,61408.00,2185.606697,-0.014341,0.013245,0.048223,...,0.344434,0.264715,0.247097,0.264142,0.254812,0.243510,0.265437,0.310878,0.298842,0.306576
2021-10-31,62415.0000,60005.00,61407.50000,61412.397727,61403.0000,61412.00,2442.146224,0.000072,-0.014269,0.013317,...,0.405382,0.344506,0.264787,0.247169,0.264214,0.254884,0.243581,0.265509,0.310949,0.298914

In [ ]:
import tensorflow as tf